//Register page design//Register page design//Register page design
//Register page design//Register page design//Register page design
//Register page design//Register page design//Register page design
*{padding: 0; margin:0; outline: 0; }

#body-color{ 
    font-size: 16px; line-height: 18px; background-color: gray;
}
#warpar{
    width: 1000px; 
    margin: 0 auto; 
    background:#aaaaaa  none repeat scroll 0 0;
     }

#head3,#footer{
    background: #333333 none repeat scroll 0 0;
    padding: 10px; 
    text-align: center;                
    color: #0066cc; overflow: hidden;
       }
#header h3{
    font-size: 15px; 
    padding: 10px;
       }
#link{
    margin-top: 3px; 
    overflow: hidden;
   }
#link ul{
    padding: 0;
    margin: 0; 
    list-style: none;
  }
#link ul li{
    display: block; 
    float: right;
   }
#link ul li a{
    background: #818181 none repeat scroll 0 0; 
    color: #333; 
    display: inline-block; 
    font-weight: bold;
    margin-right: 1px; 
    padding: 5px 10px; 
    text-decoration: none;
   }
#link ul li a:hover{
    background: #666;
   }
#content{
    border-bottom: 3px solid #c3c3c3; 
    border-top:3px solid #c3c3c3; 
    min-height: 300px;
    overflow: hidden;
    padding: 30px; 
    margin: 0 auto;
   }
#head2{
    background: #ddd none repeat scroll 0 0; 
    border: 1px solid #c9c9c9 ; 
    color: #444; 
    margin-bottom: 20px;
    margin-left: 180px; 
    padding: 10px; 
    text-align: center; 
    width: 550px;
   }
#message{
    margin: 0 auto;
    background: #ddd none repeat scroll 0 0;
    border: 1px solid #c9c9c9 ;
    color: green; 
    margin-bottom: 20px; 
    margin-left: 180px; 
    padding: 16px; 
    text-align: center; 
    width: 550px;
    }
#login_reg{
      width: 650px;
      background: #e7e7e7 none repeat scroll 0 0;
      border: 1px solid #0066cc;
      border-radius: 5px;
      margin: 0 auto;
      font-size: 16px;
      overflow: hidden;
      padding: 20px;
    }
#form{
    border: 1px;
    background: #444;
   }
input[type="text"]{
    border: 1px solid #0066cc; 
    margin-bottom: 6px; 
    margin-left: 10px; 
    width: 400px; 
    padding: 2px;
    }
input[type="password"]{
    border: 1px solid #0066cc; 
    margin-bottom: 6px; 
    margin-left: 10px; 
    width: 400px; 
    padding: 2px;
    }
input[type="email"]{
    border: 1px solid #0066cc; 
    margin-bottom: 6px; 
    margin-left: 10px; 
    width: 400px; 
    padding: 2px;
    }
input[type="submit"]{
    background: #888 none repeat scroll 0 0; 
    border: 1px solid #1dc116;
    border-radius: 3px; 
    color: #fff;
    cursor: pointer; 
    font-size: 15px; 
    font-weight: bold; 
    padding: 4px 7px;
   }
input[type="submit"]:hover{
    background: #333;
   }
input[type="reset"]{
    background: #888 none repeat scroll 0 0; 
    border: 1px solid #1dc116;
    border-radius: 3px; 
    color: #fff;
    cursor: pointer; 
    font-size: 15px; 
    font-weight: bold; 
    padding: 4px 7px;
   }
input[type="reset"]:hover{
    background: #333;
   
   }
#back{
     text-align: center;  
   }
#back img{
      width: 60px;     
      margin-top: 10px;
      margin-bottom: 10px;
   }
//login page design//login page design//login page design
//login page design//login page design//login page design
//login page design//login page design//login page design

*{padding: 0; margin:0; outline: 0; }
#l_body-color{ 
    font-size: 16px; line-height: 18px; background-color: gray;
}
#l_warpar{
    width: 1000px; 
    margin: 0 auto; 
    background:#aaaaaa  none repeat scroll 0 0;
     }
#l_head3,#l_footer{
    background: #333333 none repeat scroll 0 0;
    padding: 10px; 
    text-align: center;                
    color: #0066cc; overflow: hidden;
       }

#l_content{
    border-bottom: 3px solid #c3c3c3; 
    border-top:3px solid #c3c3c3; 
    min-height: 300px;
    overflow: hidden;
    padding: 30px; 
    margin: 0 auto;
   }
#l_head2{
    background: #ddd none repeat scroll 0 0; 
    border: 1px solid #c9c9c9 ; 
    color: #444; 
    margin-bottom: 10px;   
    margin-left: 180px; 
    padding: 5px; 
    text-align: center; 
    width: 550px;
   }
#l_message{
    margin: 0 auto;
    //background: #ddd none repeat scroll 0 0;
    //border: 1px solid #c9c9c9 ;
    color: red;    
    padding:5px; 
    text-align: center; 
    //width:200px;
    }
#l_login_reg{
      width: 550px;
      background: #e7e7e7 none repeat scroll 0 0;
      border: 1px solid #0066cc;
      border-radius: 5px;
      margin: 0 auto;
      font-size: 16px;
      overflow: hidden;
      padding: 20px;
    }
#l_back{
     text-align: center;  
   }
#l_back img{
      width: 60px;     
      margin-top: 10px;
      margin-bottom: 10px;
   }
   
//profile page design//profile page design//profile page design 
//profile page design//profile page design//profile page design 
//profile page design//profile page design//profile page design
*{padding: 0; margin:0; outline: 0; }
#p_body-color{ 
    font-size: 20px; line-height: 18px; background-color: gray;
}
#p_link{
    margin-top: 0px; 
    overflow: hidden;
   }
#p_link ul{
    padding: 0px;
    margin: 0; 
    list-style: none;
  }
#p_link ul li{
    display: block; 
    float: left;
   }
#p_link ul li a{
    background: #818181 none repeat scroll 0 0; 
    color: #333; 
    display: inline-table; 
    font-weight: bold;
    margin-right: 1px; 
    padding: 5px 10px; 
    text-decoration: none;
   }
#p_link ul li a:hover{
    background: #666;
   }
#p_warpar{
    width: 1200px; 
    margin: 0 auto; 
    background:#aaaaaa  none repeat scroll 0 0;
     }
#p_head3,#p_footer{
    background: #333333 none repeat scroll 0 0;
    padding_top: 5px; 
    text-align: center;                
    color: #0066cc; 
    overflow: hidden;
       }
#p_header h3{
    font-size: 25px; 
    padding: 10px;
       }
#p_content{
    border-bottom: 5px solid #c3c3c3; 
    border-top:5px solid #c3c3c3;
    border-left: 5px solid #c3c3c3;
    border-right:5px solid #c3c3c3;
    min-height: 300px;
    overflow: hidden;
    padding: 30px; 
    margin: 0 auto;
   }
#p_head2{
    background: #ddd none repeat scroll 0 0; 
    border: 1px solid #c9c9c9 ; 
    color: #444; 
    margin-bottom: 20px;
    margin-left: 235px; 
    padding: 10px; 
    text-align: center; 
    width: 350px;
   }
#p_message{
    margin: 0 auto;
    background: #ddd none repeat scroll 0 0;
    border: 1px solid #c9c9c9 ;
    color: green; 
    margin-bottom: 20px; 
    margin-left: 235px; 
    padding: 16px; 
    text-align: center; 
    width: 340px;
    }
#p_login_reg{
      width: 800px;
      background: #e7e7e7 none repeat scroll 0 0;
      border: 3px solid #0066cc;
      border-radius: 10px;
      margin: 0 auto;
      font-size: 20px;
      overflow: hidden;
      padding: 30px;
    }
input[type="image"]{
    border: 1px solid #0066cc; 
    margin-bottom: 6px; 
    margin-left: 10px; 
    width: 150px; 
    padding: 2px;
    }
input[type="number"]{
    border: 1px solid #0066cc; 
    margin-bottom: 6px; 
    margin-left: 10px; 
    width: 400px; 
    padding: 5px;
  
    }
input[type="text"]{
    border: 1px solid #0066cc; 
    margin-bottom: 6px; 
    margin-left: 10px; 
    width: 400px; 
    padding: 5px;
  
    }
 input[type="file"]{  
    margin-bottom: 6px;
    border: 1px solid;
    margin-left: 1px; 
    width: 150px;
    height: 150px;
    padding: 20px;
    }
input[type="submit"]{
    background: #41a83e none repeat scroll 0 0;
    border: 1px solid #0066cc;      
    width: 100px; 
    height: 50px;   
    padding: 2px;
    
    }
    
//index page design//index page design//index page design
//index page design//index page design//index page design
//index page design//index page design//index page design
//index page design//index page design//index page design
*{padding: 0; margin:0; outline: 0; }
#I_body-color{ 
    font-size: 20px; line-height: 18px; background-color: #939F9E;
}
#I_warpar{
    width: 1200px; 
    margin: 0 auto; 
    background:#aaaaaa  none repeat scroll 0 0;
     }
#I_content{
    border-bottom: 5px solid #c3c3c3; 
    border-top:5px solid #c3c3c3;
    border-left: 5px solid #c3c3c3;
    border-right:5px solid #c3c3c3;
    min-height: 300px;
    overflow: hidden;
    padding: 30px; 
    margin: 0 auto;
   }
#I_head3,#I_footer{
    background: #333333 none repeat scroll 0 0;
    padding_top: 5px;        
    text-align: center;                
    color: #0066cc; 
    overflow: hidden;
       }
#I_loginmsg{
         background: #d4d0c8 none repeat scroll 0 0;
         margin: 0 auto;
         padding: 5px;
         color: #fff;
         text-align: center;
         width: 580px;
       }
#I_head2{
    background: #333333 none repeat scroll 0 0;
    padding_top: 5px;
    margin: 0 auto;
    margin-top: 2px;
    width: 580px;
    text-align: center;                
    color: #0066cc; 
    overflow: hidden;
       }
#I_login_reg{
      width: 800px;
      background: #e7e7e7 none repeat scroll 0 0;
      border: 3px solid #0066cc;
      border-radius: 10px;
      margin: 0 auto;
      font-size: 20px;
      overflow: hidden;
      padding: 30px;
    }
#I_link{
    margin-top: 5px; 
     margin-bottom:5px; 
    overflow: hidden;
   }
#I_link ul{
    padding: 5px;
    margin-left: 250px; 
    list-style: none;
  }
#I_link ul li{
    display: block; 
    float: left;
   }
#I_link ul li a{
    background: #818181 none repeat scroll 0 0; 
    color: #333; 
    display: inline-table; 
    font-weight: bold;
    margin-right: 1px; 
    padding: 5px 10px; 
    text-decoration: none;
   }
#I_link ul li a:hover{
    background: #666;
   }
#I_table{
     width: 650px;
     height: o auto;
     background: #9f8f7f none repeat scroll 0 0;
      border: 1px solid #0066cc;
      border-radius: 10px;
      margin: 0 auto;
      font-size: 16px;
      overflow: hidden;
      padding: 20px;
   }
 #I_table tr th{
     width: 550px;     
     background: gray none repeat scroll 0 0;
      border: 1px solid #0066cc;
      border-radius: 2px;
      margin: 0 auto;
      font-size: 20px;
      overflow: hidden;
      padding: 20px;
      color: #d4d0c8;
   }
#I_table tr td{
     width: 550px;     
     background: #ddd none repeat scroll 0 0;
      border: 1px solid #0066cc;
      border-radius: 2px;
      margin: 0 auto;
      font-size: 15px;
      overflow: hidden;
      padding: 10px;
      color: #333333;
      text-align: center;
   }
#I_table tr td a{          
     background: #ddd none repeat scroll 0 0;
      border: 0px solid #0066cc;
      border-radius: 2px;
      margin: 0 auto;
      font-size: 15px;
      overflow: hidden;
      padding: 10px;
      color: #3185b9;
      text-align: center;
   }
 #I_table tr td a:hover{
    background: #666;
   }
 #I_table tr td a:active{
    background: #3185b9;
   }
  //show page design //show page design //show page design
   //show page design //show page design //show page design
    //show page design //show page design //show page design
 *{padding: 0; margin:0; outline: 0; }

#S_bodycolor{ 
    font-size: 16px; line-height: 18px; background-color:gray;
}
#S_head2{
    background: #333333 none repeat scroll 0 0;
    padding_top: 10px;        
    text-align: center;                
    color: #0066cc; 
    overflow: hidden;
    font-size: 30px;
       }
#S_footer{
    background: #333333 none repeat scroll 0 0;
    padding_top: 5px;        
    text-align: center;                
    color: #0066cc; 
    overflow: hidden;
       }
#S_table{
     width: 750px;
     height: o auto;
     background: #e7e7e7 none repeat scroll 0 0;
     //border: solid #0066cc;
     border-radius: 10px;
     margin: 0 auto;     
     overflow: hidden;
     padding: 20px;          
       }
#S_table tr td{
     width: 550px;     
     background: #ddd none repeat scroll 0 0;
      border: 1px solid #0066cc;
      border-radius: 2px;
      margin: 0 auto;
      font-size: 20px;
      overflow: hidden;
      padding: 10px;
      color: #333333;
      text-align: center;
   }
   
#S_link{
    margin-left:750px;
    overflow: hidden;
    height: 100px;
   }
#S_link ul{
   
    padding: 5px;   
    list-style: none;
  }
#S_link ul li{
     
    display: block; 
    float:left;
   }
#S_link ul li a{
    background: #3185b9 none repeat scroll 0 0; 
    color: #e0e0e0; 
    display:inline-block; 
    font-weight: bold;
    margin-right: 2px; 
    padding: 20px; 
    font-size: 20px;
    text-decoration: none;
   }
#S_link ul li a:hover{
    background: #666;
   }
   
   